body {
    background-image: url("/img/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

div {
    background-color: black;
    opacity: 85%;
    margin-left: 25%;
    margin-right: 43%;
    color: white;
    font-size: small;
    margin-bottom: 80px;
    height: 150px;;
    padding-bottom: 65%;
    padding-top: 50px;
}
label,input,.titulo{
    margin-left: 20%;
}
